/* Estilo principal */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #202020;
}

div{
    margin: 0 auto;
    max-width: 800px;
    background-color: white;
    padding: 5px;
}

.header {
    background-color: #add8e6;
    padding: 10px 0;
    text-align: center;
}

.sombras {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.footer {
    background-color: #add8e6;
    text-align: center;
}